/* ===========================
   Question Table
=========================== */

.question-table-container{

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

}


/* ===========================
   Table
=========================== */

.question-table{

    width:100%;

    border-collapse:collapse;

}

.question-table thead{

    background:#f1f5f9;

}

.question-table th{

    padding:18px;

    text-align:left;

    color:#334155;

    font-size:15px;

}

.question-table td{

    padding:18px;

    border-top:1px solid #e2e8f0;

    color:#475569;

}

.question-table tbody tr:hover{

    background:#f8fafc;

}