/* ===========================
   Top Bar
=========================== */

.topbar{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 2px 12px rgba(0,0,0,.06);

}


.topbar h2{

    margin:0;

    color:#1e293b;

    font-size:28px;

}


.topbar p{

    margin-top:6px;

    color:#64748b;

    font-size:14px;

}


/* ===========================
   Right Section
=========================== */

.topbar-right{

    display:flex;

    align-items:center;

    gap:25px;

}


.notification-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:#f1f5f9;

    font-size:18px;

    transition:.3s;

}


.notification-btn:hover{

    background:#2563eb;

    color:white;

}


/* ===========================
   Profile
=========================== */

.profile{

    display:flex;

    align-items:center;

    gap:12px;

}


.profile svg{

    font-size:42px;

    color:#2563eb;

}


.profile h4{

    margin:0;

    color:#1e293b;

}


.profile span{

    font-size:13px;

    color:#64748b;

}